<!doctype html>
<html>

<head>
    <title>View Data</title>
</head>

<body>
    <!-- Top Menu -->
    {{> header}}
    <main>
        {{{body}}}
    </main>
    {{> footer}}
    <!-- footer -->
</body>

</html>